        h1 {
            background-color: lightblue;
            text-align: center;
            font-size: 60 px;
        }
        h2 {
            background-color: lightblue;
            text-align: center;
            font-size: 30px;
        }
        header {
            background-color: black;
        }
        body {
            font-family: sans-serif;
            background-color: orange;
        }
        footer {
            background-color: navy;
            color: white;
        }
        table {
            border-collapse: collapse;
            border: 5px solid black;
            text-align: center;
        }
        tr {
            border: 5px solid black;
        }
        td {
            background-color: white;
            border: 5px solid black;
        }
        img {
            text-align: center;
        }
